{% if settings.show_bottom_linklist_on_homepage and linklists[settings.bottom_linklist_homepage].links.size > 0 %}
<div class="add-links-container">
  <nav class="add-links">
    <div class="holder">
      <ul>
        {% assign i = 0 %}
        {% assign width = "121 82 62 65" %}
        {% assign height = "63 57 62 65" %}
        {% assign width = width | split: ' ' %}
        {% assign height = height | split: ' ' %}
        {% for link in linklists[settings.bottom_linklist_homepage].links %}
          <li{% if link.active %} class="active"{% endif %}>
            <a href="{{ link.url }}">
              {% capture image %}menu-{{ link.title | handleize }}.png{% endcapture %}
              {% capture image2x %}menu-{{ link.title | handleize }}-2x.png{% endcapture %}
              <span data-picture data-alt="{{ link.title | escape }}" class="image">
                <span data-src = "{{ image | asset_url }}"{% if width[i] != blank %} data-width="{{ width[i] }}"{% endif %}{% if height[i] != blank %} data-height="{{ height[i] }}"{% endif %} ></span>
                <span data-src = "{{ image2x | asset_url }}" data-media = "(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)"{% if width[i] != blank %} data-width="{{ width[i] }}"{% endif %}{% if height[i] != blank %} data-height="{{ height[i] }}"{% endif %} ></span>
                <!--[if (lt IE 9) & (!IEMobile)]>
                    <span data-src="{{ image | asset_url }}"{% if width[i] != blank %} data-width="{{ width[i] }}"{% endif %}{% if height[i] != blank %} data-height="{{ height[i] }}"{% endif %} ></span>
                <![endif]-->
                <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                <noscript><img src="{{ image | asset_url }}"{% if width[i] != blank %} width="{{ width[i] }}"{% endif %}{% if height[i] != blank %} height="{{ height[i] }}"{% endif %} alt="{{ link.title | escape }}" ></noscript>
              </span>
              {{ link.title }}
            </a>
          </li>
          {% assign i = i | plus: 1 %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>
{% endif %}