<!-- Bold Apps: Customer Pricing -->
{% include 'shappify-csp' %}


<!-- csp tag-HIDE --> 
{% assign csp_visible = true %}
{% for product_tag in product.tags %}
{% if csp_visible == true %}
{% capture last_tag_piece %}{{ product_tag | split: '-' | last }}{% endcapture %}
{% if last_tag_piece == 'HIDE' %}
{% capture first_tag_piece %}{{ product_tag | split: '-' | first }}{% endcapture %}

{% if first_tag_piece == 'default' %}
{% assign csp_visible = false %}
{% assign csp_tag_group = shop.metafields.shop_csp_tag_group.shop_csp_tag | split: ',' %}
{% for csp_tag in csp_tag_group %}
{% if customer.tags contains csp_tag %}
{% assign csp_visible = true %}
{% endif %}
{% endfor %}
{% else %}
{% if customer.tags contains first_tag_piece %}
{% assign csp_visible = false %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}


{% if csp_visible == false %} 
Product is not available
{% else %}


{% assign optionsSelected = false %}

<div class="product-block">
  <div class="container">
    {% include 'breadcrumbs' %}
    {% if product.images.size > 1 %}
    <div class="slideshow">
      <div class="slideset" style="height: 585px;">
        {% for variant in product.variants %}
            
          {% include 'shappify-variant-is-csp' %}
          {% if csp_variant == 1 %}
            
          {% if variant.available and variant.image %}
            <div class="slide{% if variant.selected %} opaque" style="display: block; opacity: 1;{% else %} clear" style="display: block; opacity: 0;{% endif %}"><img src="{{ variant.image | img_url: 'grande' }}" alt="{{ variant.image.alt | escape }}" width="583" height="583"></div>
          {% endif %}
            
          {% endif %}
        {% endfor %}
          
        {% for image in product.images %}
          {% assign isNewImage = true %}
          {% for variant in product.variants %}
            {% if image == variant.image %}
              {% assign isNewImage = false %}
            {% endif %}
          {% endfor %}
          {% if isNewImage %}
            <div class="slide"><img src="{{ image | product_img_url: 'grande' }}" alt="{{ image.alt | escape }}" width="583" height="583"></div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="pagination">
        <ul>
          {% for variant in product.variants %}
              
            {% include 'shappify-variant-is-csp' %}
            {% if csp_variant == 1 %}
              
            {% if variant.available and variant.image %}
              <li><a class="variant-image" href="#"><img src="{{ variant.image | img_url: 'compact' }}" alt="{{ variant.image.alt | escape }}" width="120" height="120"></a></li>
            {% endif %}
              
            {% endif %}
          {% endfor %}
            
          {% for image in product.images %}
            {% assign isNewImage = true %}
            {% for variant in product.variants %}
              {% if image == variant.image %}
                {% assign isNewImage = false %}
              {% endif %}
            {% endfor %}
            {% if isNewImage %}
              <li><a href="#"><img src="{{ image | product_img_url: 'compact' }}" alt="{{ image.alt | escape }}" width="120" height="120"></a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    {% elsif product.images %}
    <div class="slideshow">
      <div class="slideset">
        {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
        <div class="slide featured"><img src="{{ featured_image | img_url: 'grande' }}" alt="{{ featured_image.alt | escape }}" width="583" height="583"></div>
      </div>
    </div>
    {% endif %}
    <div class="content-block">
      <h1>{{ product.title }}</h1>
      
      {% assign tag_price = 0 %}
      {% assign tag = 'default' %}
      {% if customer.tags.size > 0 %}
      {% for cust_tag in customer.tags %}
      {% if product.metafields.shappify_csp[cust_tag] %}
      {% assign tag = cust_tag %}
      {% endif %}
      {% endfor %}
      {% endif %}
      {% if product.metafields.shappify_csp[tag] %}
      {% assign tag_price = 1 %}
      {% endif %}
      {% if tag_price != 1 %}
      
      <span class="price" id="price-field-{{ product.id }}">{{ product.price_min | money }}{% if product.price_min < product.compare_at_price_min %} <del>{{ product.compare_at_price_min | money }}</del>{% endif %}</span>
      
      {% else %}
      {% capture attribute_price_min %}{{tag}}_raw_lownum{% endcapture %}
      {% capture attribute_price_max %}{{tag}}_price_high{% endcapture %}
      {% capture attribute_price %}{{tag}}{% endcapture %}
      
      {% assign price_min = product.metafields.shappify_csp[attribute_price_min] | times: 100 %}
      <span class="price" id="price-field-{{ product.id }}">{{ product.metafields.shappify_csp[attribute_price] }}{% if price_min < product.compare_at_price_min %} <del>{{ product.compare_at_price_min | money }}</del>{% endif %}</span>
      
      {% endif %}
      
      {% include 'add-to-cart' %}
      <div class="description">
        {% include 'process-html' with product.description %}
      </div>
    </div>
  </div>
</div>
{% include 'related-products' %}
{% include 'add-to-cart-js' %}


{% endif %}